@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
}

/* Global CSS */

h1 {
  font-size: 3rem;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 60px;
}
h3 {
  font-size: 1.2rem;
  padding-bottom: 1rem;
  font-weight: 500;
}

#w-btn {
  margin-left: 40px;
  background-color: #fff;
  color: #1f4a40;
  padding: 9px 30px;
  border-radius: 20px;
  font-size: 1.2rem;
  font-weight: 500;
  box-shadow: none;
  border: none;
}

.sec-space {
  padding: 4rem 0;
}
.extra-space {
  padding-top: 8rem;
}
.obj-width {
  max-width: 1200px;
  margin: auto;
}

/* navbar */

header {
  background-color: #1f4a40;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 999;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

#navbar .logo {
  width: 270px;
  height: 110px;
  color: #fff;
}

#menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

#menu li a {
  color: #fff;
  text-decoration: none;
  margin-left: 40px;
  font-size: 1.1rem;
  font-weight: 500;
  /* color: black; */
}

/* reponsive navbar to be implemented... */

#bar {
  color: #fff;
  display: none;
}

.hero {
  background-color: #1f4a40;
}

.hero-box {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  align-items: center;
}

.h-right {
  width: 50%;
}

.h-right img {
  width: 100%;
  object-fit: cover;
}

.h-left {
  width: 45%;
  color: #fff;
}

.h-left p {
  padding: 1.5rem;
}

.search {
  position: relative;
}

.search input {
  width: 100%;
  height: 4rem;
  border-radius: 35px;
  padding: 0 20px;
  font-size: 1rem;
  outline: none;
  border: none;
}

.search a {
  position: absolute;
  top: 12px;
  right: 20px;
}

#g-btn {
  text-decoration: none;
  background-color: #51a995;
  color: #fff;
  padding: 9px 30px;
  border-radius: 20px;
  cursor: pointer;
}

.features .fe-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
} 

.features .fe-box div {
  width: 200px;
}

.features .fe-box img {
  width: 50px;
  margin-top: 3rem;
}

.jobs .job-id {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
}

.jobs .job-id li {
  padding: 20px 40px;
  cursor: pointer;
  color: #000;

}

.jobs .job-id li.active {
  background-color: #51a995;
  color: #fff;
}

.jobs .jList {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 1px solid #ccc;
  align-items: center;
  justify-items: start;
  cursor: pointer;
  color: #000;
  padding: 2rem 2rem;
}

.jobs .jList h3 {
  padding-bottom: 0;
}

.jobs .jList:hover {
  background-color: #ecf1ee;
}

.jobs .jList img {
  width: 70px;
}

.jobs .jList.delete {
  display: none;
}

.trust .t-box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 3rem;
}

.trust .t-box img {
  margin: 1rem 1rem 1rem 0;
  width: 100px;
}

.team-container {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 20px;
  white-space: nowrap;
}
.team-container .f1-box {
  min-width: 250px;
  border: 1px solid #ecf1ee;
  padding: 2rem 1rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;

  flex-shrink: 0;
}

.team-container .f1-box img {
  width: 80px;
  height: 80px;

  border-radius: 50%;
  margin-bottom: 1rem;
  
}
.skill {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding-bottom: 1rem;
}

#key {
  font-size: 0.8rem;
  background-color: #edcfee;
  padding: 5px 20px;
  border-radius: 20px;
}
h2 {
  text-align: center;
  margin-bottom: 2rem;
}

p {
  text-align: center;
  margin-bottom: 2rem;
}

#g-btn {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border-radius: 20px;
  margin-top: 10px;
  transition: background-color 0.3s;
}

#g-btn:hover {
  background-color: #555;
}

footer {
  background-color: #1f4a40;
  color: white;
  padding: 4rem 0;
}

.top {
  display: flex;
  align-items: center;
  text-align: start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.top .logo {
  width: 270px;
  height: 110px;
  margin-bottom: 1rem;
}

.top i {
  color: white;
  font-size: 2rem;
  margin-left: 0.5rem;
}

.bottom {
  padding-top: 2rem;
  text-align: start;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bottom div {
  display: flex;
  flex-direction: column;
}

.bottom a {
  text-decoration: none;
  line-height: 35px;
  font-size: 1.1rem;
  color: #fafafa;
}

.jobs form {
  margin-top: 3rem;
  width: 100%;
  border: 1px solid #51a995;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jobs form i {
  padding-left: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.jobs form input {
  width: 100%;
  border: none;
  outline: none;
  padding: 1rem .5rem;
  font-size: 1.1rem;
}

.job-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8fcfa;
  border: 1px solid;
  border-radius: 38px;
  padding: 2rem;
}

.job-img-row {
  display: flex;
  align-items: center;
}

.job-header img {
  width: 100px;
  background-color: #fff;
  padding: 1rem;
  border-radius: 15px;
  margin-right: 2rem;
}

.job-description p {
  padding-bottom: 2rem;
}